{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UniRide - Inicio</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
  <!-- FontAwesome para iconos -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>

  <nav class="navbar">
    <div class="navbar-brand">
      <i class="fa-solid fa-car-side"></i> UniRide
    </div>
    <div class="navbar-menu">
      <span class="user-info">
        <i class="fa-solid fa-user"></i> {{ request.user.email }}
      </span>
      <button class="logout-btn" id="logoutBtn" data-logout-url="{% url 'logout' %}"
        data-login-url="{% url 'login_page' %}" data-csrf="{{ csrf_token }}">
        <i class="fa-solid fa-right-from-bracket"></i> Cerrar Sesión
      </button>
    </div>
  </nav>

<div class="main-container">
    <div class="welcome-header">
      <h1>{{ title }}</h1>
      <p>{{ description }}</p>
      <div class="rides-grid">
      <!-- Contenedor de tarjetas -->
      <!-- bucle  -->
        {% for viaje in viajes %}
        <div class="ride-card">
        <!-- Encabezado: Ruta -->
          <div class="ride-header">
              <span class="location">{{ viaje.id_route_journey_i.id_address_origin_i.name_address_v }}</span>
              <i class="fas fa-arrow-right route-icon"></i>
              <span class="location">{{ viaje.id_route_journey_i.id_address_destiny_i.name_address_v}}</span>
          </div>
          <!-- Cuerpo: Vehículo y Conductor -->
          <div class="ride-body">
              <div class="driver-info">  
                
                <i class="fas fa-user driver-name"></i>Emanuell Medina
              </div>
                <i class="fas fa-car vehicle-details"></i>{{ viaje.id_user_car_journey_i }}<br>
          </div>
          <!-- Pie: Precio, Asientos y Acción -->
          <div class="ride-footer" >
            <div class="ride-stats">
              <p>
                <span class="badge badge-success">{{ viaje.available_seats_i }} Lugares libres</span> 
                <span class="badge badge-secondary">${{ viaje.cost_journey_d }}</span>
              </p>
            </div>
          </div>
          <button>
            <i class="fas fa-sign-in-alt"></i> Unirse
          </button>
        </div>  
        <!-- bucle  Empty-->
         {% empty %}
        <!-- Estado Vacío -->
            <div class="no-rides">
                <i class="fas fa-search error-icon"></i>
                <h3>No hay viajes disponibles</h3>
                <p>Prueba seleccionando otras fechas u otros destinos.</p>
            </div>    
            <!-- bucle  Fin -->  
             {% endfor %} 
      </div>
    </div>
  </div>

  <script src="{% static 'js/dashboard.js' %}"></script>
</body>

</html>